pymongo[srv] == 4.4.1
certifi==2023.7.22
from_root
pyYAML
scikit-learn
scipy
imblearn
xgboost
fastapi
dill
dnspython
evidently
httptools
mypy-boto3-s3
pip-chill
python-dotenv
types-s3transfer
uvicorn
watchfiles
websockets
neuro-mf
-e .